@import url("https://fonts.googleapis.com/css2?family=Varela+Round&display=swap");

:root {
  --red-bg: #3d0000;
  --black-target: #030303;
  --red-button: #cc0808;
  --white: #ffffff;
}

body {
  margin: 0;
  font-family: "Varela Round", sans-serif;
}
.navbar {
  background: var(--black-target);
  color: var(--white);
  font-weight: 400;
  font-weight: 400;
}
.left, .right {
  gap: 16px;
}
.offcanvas {
  color: var(--white);
  background-color: var(--red-bg);
}
.dropdown-menu{
  background-color: var(--black-target);
}
.dropdown-item {
  color: var(--white);
  font-weight: 600;
  letter-spacing: 1px;
  font-size: 20px;
}
a {
  color: #fff;
  text-decoration: none;
}
input {
  width: 50%;
}
#searchButton {
  width: 50px;
}
.mainContent {
  width: 100%;
  gap: 24px;
  background-color: var(--red-bg);
}
.footer {
  gap: 50px;
  font-size: 18px;
  width: 100%;
  background-color: var(--black-target);
}
#notuser {
  margin-left: 40px;
  margin-right: 12px;
}
.infoExternal {
  gap: 42px;
  margin-right: 24px;
}
.infoExternal > p {
  margin: 0px;
}
.nav-link {
  color: #fff;
  font-size: 19px;
}
.nav-link:hover {
  color: var(--red-button);
}
ul {
  display: flex;
  flex-direction: row;
  margin-top: 18px;
  align-content: center;
  list-style: none;
}
.card {
  background-color: #030303;
  color: #ffff;
  margin: 13px 0 20px 0;
}
.card-body{
  display: flex;
  flex-direction: column;
  justify-content: flex-end;  
}
.card-img-top {
  padding: 10px;  
  border-radius: 5px;
}
.card .btn {
  background-color: var(--red-button);
  border: 3px solid var(--red-bg);
  width: 100%;
}
.mainTitle {
  font-size: 48px;
  font-weight: 900;
}
.mainTitle > a {
  color: var(--white);
  text-shadow: -2px -2px 0px var(--red-bg), 4px 4px 0px var(--red-button),
    4px 4px 0px var(--black-target);
}
.card-favorite{
  background-color: var(--black-target);
  padding: 12px;
  border-radius: 8px;
  width: 80%;
  margin: 4px auto;
  font-size: 12px;
  gap: 4px
}
.img-favorite{
  width: 72px;
  margin: 8px;
}
.card-title{
  font-size: 24px;
  text-align: start;
  font-weight: 600;
  color: var(--red-button);
}